@page "/"

<PageTitle>CV - Matheus Mendes</PageTitle>

<h1>Matheus Ferreira Mendes</h1>

<br>

<h2>Biography</h2>

<br>

<div class="biography">
    Currently pursuing a Bachelor's degree in Information Systems at Inteli - Institute of Technology and Leadership, I am constantly seeking challenges that combine data analysis and business to generate strategic insights and improve business processes.

    I have experience in various fields, including digital product development, data analysis, and strategy. At Banco PAN, I conducted a detailed study on personal loan concessions using AWS tools like Athena, Airflow, and QuickSight, contributing to the strategic decision-making of the credit team. Additionally, I served as a Junior Data Analyst at Instituto Semear, where I was responsible for strategic analyses and data management focused on governance and integrity.

    I have experience in projects that showcase my technical skills and project management abilities using agile methodologies like Scrum. I've worked on projects involving sentiment analysis through Natural Language Processing (NLP), blockchain for price transparency, predictive modeling for candidate-job matching, and web application development to optimize report delivery and filtering systems.

    My extracurricular involvement is equally diverse, having founded the Tantera Athletic Association, where I serve as Vice President of Finance, and worked as a sales representative at Inteli Júnior, developing negotiation skills and client relationships.
</div>

<br>

<h2>Experience</h2>

<br>

<div class="experience-xp">
    XP Inc. | Credit Intern <br>
    (Dec 2024 - Present)<br>
    ● Supervise risk assessment and credit modeling for the corporate segment, optimizing decision-making.<br>
    ● Utilize tools such as Excel, Power BI, Pipefy, and Databricks for credit modeling and monitoring.<br>
    ● Automated the ETL process for the bank’s Credit department, reducing data processing time and increasing analysis efficiency.<br>
</div>

<br>

<div class="experience-pan">
    Banco PAN | Credit Strategy Intern <br>
    (Jul 2024 - Jul 2024) <br>
    ● Conducted a detailed analysis of personal loan grants for vehicle segment customers. <br>
    ● Used AWS (Athena, Airflow, and QuickSight) for structuring and analyzing largevolumes of data. <br>
    ● Identified customer behavior patterns, whose insights led to an improveme <br>
</div>

<br>

<h2>Skills</h2>

<br>

<h3>Hard Skills</h3>

<div class="skills">
    Business Strategy | Financial Modeling | Data Analysis | Python, SQL, and Advanced Excel | Business Intelligence | Process Automation
</div>

<br>

<h3>Soft Skills</h3>

<div class="skills">
    Team Work | Decision-Making | Strategic Thinking | Problem-Solving | Project Management | Leadership | Scrum | Communication | Negotiation
</div>

<br>

<h2>Links</h2>

<a href="https://www.linkedin.com/in/matheusmeendes/"><button>LinkedIn</button></a>

<br>

<a href="https://github.com/matheusmeendes"><button>GitHub</button></a>

<br>
