*[b-c80vx72m6m] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

h1[b-c80vx72m6m] {
    align-items: center;
}

h2[b-c80vx72m6m] {
    background-color: rgb(5, 39, 103);
    color: aliceblue;
    padding: 20px;
    border-radius: 16px;
}

button[b-c80vx72m6m] {
    background-color: #555555;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
    margin-top: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

button:hover[b-c80vx72m6m] {
    background-color: rgb(5, 39, 103);
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
}